/* Vars  */
:root {
  --color-primary: white;
  --color-secondary: rgb(0, 0, 80);
}

.text-input {
  height: 2.25em;
  border-radius: 6px;
  border: 0.5px solid lightgrey;
  min-width: 200px;
  padding-right: 40px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.btn {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.btn:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn:focus {
  outline: 1px transparent;
}

.btn:before {
  display: none;
}

.btn:-webkit-details-marker {
  display: none;
}

p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

header, section, footer {
  display: flex;
  width: 100%;
}

section {
  padding: 2rem 0;
}

header {
  justify-content: center;
  background: var(--color-secondary);
  padding: 2em 1em;
}

.site-title {
  color: var(--color-primary);
  font-size: 1.5em;
  letter-spacing: 0.4em;
}

.site-title--emphasis {
  background: var(--color-primary);
  color: var(--color-secondary);
  padding: 0.1em 0 0.1em 0.4em;
  margin-right: 0.2em;
  border-radius: 50%;
}

.banner {
  flex-direction: column;
  align-items: center;
}

.searchbar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.searchbar--input {
  margin: 0;
}

.searchbar--submit-btn, .searchbar--clear-btn {
  margin: 0 0.5em;
}

.filters {
  display: flex;
}

.filters--btn {
  margin: 0 0.5em;
}

.filters--btn:hover {
  border-color: var(--color-secondary);
}

.filters--btn-active {
  background: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-secondary);
}

.filters--btn-active:hover {
  background: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.boards-list {
  display: flex;
  flex-wrap: wrap;
}

.boards-list--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 2rem;
  transition: all 0.3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-bottom: 0.5em;
}

.boards-list--board-title {
  margin-top: 0.2em;
}

.boards-list--card:hover {
  transform: scale(1.05);
}

.boards-list--card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.boards-list--add-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 250px;
}

.boards-list--add-board-open-btn {
  margin-bottom: 2em;
}

.form-active {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.back-to-home-btn {
  margin: 2em 1em;
}

footer {
  justify-content: center;
  padding: 2rem 1em;
  background: var(--color-secondary);
  color: var(--color-primary);
}

.boards-list--board-upvote-ctnr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boards-list--board-upvote {
  margin-right: 1em;
}
